
Backend/src/.vs/
node_modules/
package-lock.json
/ClienteRMI/nbproject/private/
/ServidorRMI/nbproject/private/
/UsuariosRMIServer/nbproject/private/
/PaymentsRMIServer/nbproject/private/
/ProductsRMIServer/nbproject/private/
/CocoBancoRMIServer/nbproject/private/
/UsersRMIServer/nbproject/private/
/CocoWebService/dist/
/CocoWebService/build/
/UsersRMIServer/build/
/UsersRMIServer/dist/
/PaymentsRMIServer/build/
/PaymentsRMIServer/dist/
/ProductsRMIServer/build/
/ProductsRMIServer/dist/
/CocoWS/nbproject/private/
/CocoWS/build/
/CocoWS/dist/